apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-vittor
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      bb: web
  template:
    metadata:
      labels:
        bb: web
    spec:
      containers:
      - name: helloworldjava
        image: vittormaciel/helloworld-java:latest
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-vittor-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    bb: web
  ports:
  - port: 8080
    targetPort: 3000
